{# encoding=utf-8 #}
{# © Quantum Ltd. #}
{# version 1.0.0 #}
<!-- Само окно -->
<div id="boxes">
    <div id="dialog" class="window">
        <div class="container" style="width: 600px">
            <div class="row">
                <div class="col-xs-12">
                    <div class="modalHead">
                        {%  %}
                    </div>
                </div>
            </div>
        </div>
        <div class="top"><a href="#" class="link close " style="color: #ffffff; position: fixed"><span class="glyphicon glyphicon-remove"></span></a></div>
        <div class="container" style="width: 600px">
            <div class="row" style="min-height: 260px">
                <div class="col-xs-12">
                    <div id="ajaxImg" style="max-height: 300px"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div id="ajaxDescription" style="text-align: left"></div>
                </div>

            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div id="ajaxPrice" style="text-align: left"></div>
                </div>
            </div>
            <div class="row" style="text-align: center">
                <div class="col-xs-12">
                    <div class="row">
                        <div class="col-xs-6">
                            PRICE
                        </div>
                        <div class="col-xs-6">
                            <button class="btn btn-default">ADD</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Маска, затемняющая фон -->
<div id="mask"></div>