{# encoding=utf-8 #}
{# © Quantum Ltd. #}
{# version 1.0.0 #}
{% extends 'mgmt/base.html' %}
{% load staticfiles %}
{% block title %}
    Управление заказами.Интернет магазин Синкай-авто
{% endblock %}
{% block content %}
    <!-- Show clients list -->
    <div class="container">
        <div class="col-xs-12" style="margin-top: 20px">
            <form class="navbar-form navbar-left" role="search" action="{% url 'clients-search' %}" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Поиск" name="word">
                </div>
                <button type="submit" class="btn btn-default">Поиск</button>
            </form>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h1>Клиенты</h1>
                </div>
                <table class="table">
                    <tr>
                        <th>Логин, Название</th>
                        <th>Email, Контактный телефон</th>
                        <th>Сумма заказов</th>
                        <th>Задолженность</th>
                        <th>Неоплаченные заказы</th>
                        <th></th>
                    </tr>
                    {% for object in object_list %}
                        <tr>
                            <td><a href="{% url 'clients-edit' object.pk %}"> {{ object.login }}</a><br>
                                {{ object.title }}
                            </td>
                            <td>{{ object.contact_email }}<br>
                                    {{ object.contact_phone }}
                            </td>
                            <td style="text-align: center">{{ object.orders_sum }}</td>
                            <td style="text-align: center">{{ object.unpaid_sum }}</td>
                            <td>{{ object.unpaid_orders }}</td>
                            <td><a href="{% url 'clients-delete' object.pk %}" class="btn btn-danger">Удалить</a> </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
    <!-- End clients list -->
    <!-- Begin pagination -->
    <div class="container">
        <div class="row">
            <div class="col-xs-12" style="text-align: center">
                {% if paginator.num_pages > 1 %}
                    <nav>
                        <ul class="pagination">
{#                            {% if paginator.page.has_previous %}#}
                            {% if page_obj.has_previous %}
                                <li>
                                    <a href="/mgmt/clients-list?page=1">
                                        <span aria-hidden="true">В начало</span>
                                        <span class="sr-only">В начало</span>
                                    </a>
                                </li>
                                <li>
                                        <span aria-hidden="true">...</span>
                                </li>
                                <li>
                                    <a href="/mgmt/clients-list?page={{ page_obj.previous_page_number }}">
                                        <span aria-hidden="true">{{ page_obj.previous_page_number }}</span>
                                        <span class="sr-only">{{ page_obj.previous_page_number }}</span>
                                    </a>
                                </li>
                            {% endif %}
                            <li class="active">
                                <a href="#">Страница {{ page_obj.number }} из {{ paginator.num_pages }} <span class="sr-only"></span></a>
                            </li>
                            {% if page_obj.has_next %}
                                <li>
                                    <a href="/mgmt/clients-list?page={{ page_obj.next_page_number }}">
                                        <span aria-hidden="true">{{ page_obj.next_page_number }}</span>
                                        <span class="sr-only">{{ page_obj.next_page_number }}</span>
                                    </a>
                                </li>
                                <li>
                                        <span aria-hidden="true">...</span>
                                </li>
                                <li>
                                    <a href="/mgmt/clients-list?page={{ paginator.num_pages }}">
                                        <span aria-hidden="true">В конец</span>
                                        <span class="sr-only">В конец</span>
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    </nav>
                {% endif %}
            </div>
        </div>
    </div>
    <!-- End pagination -->
{% endblock %}