{# encoding=utf-8 #}
{# © Quantum Ltd. #}
{# version 1.0.0 #}
{% extends "mgmt/base.html" %}
{% load staticfiles %}
{% block title %}
    Управление страницами сайта.Интернет магазин Синкай-авто
{% endblock %}
{% block content %}
    <!-- edit page delivery info -->
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                    <h1>Редактировать страницу <b>"Доставка и оплата"</b></h1>
                <hr>
                <form action="." method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.media }}

                    <div class="row">
                        <div class="col-xs-2">
                            <p>
                                Заголовок страницы
                            </p>
                        </div>
                        <div class="col-xs-10">
                            <div class="form_title">
                                {{ form.title }}
                            </div>
                        </div>
                    </div>
                        <br>
                    <div class="row">
                        <div class="col-xs-2">
                            <p>
                                Содержание страницы
                            </p>
                        </div>
                        <div class="col-xs-10">
                                {{ form.content }}
                        </div>
                    </div>
                        <br>
                    <div class="row">
                        <div class="col-xs-2">
                            {{ form.map.label }}
                        </div>
                        <div class="col-xs-10">
                            <div class="form_title">
                                {{ form.map }}
                            </div>
                        </div>
                    </div>
                        <br>
                    <div class="row">
                        <div class="col-xs-2">
                            {{ form.modified_date.label }}
                        </div>
                        <div class="col-xs-10">
                            {{ form.modified_date }}
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-xs-2">

                        </div>
                        <div class="col-xs-10">
                            <input type="submit" value="Сохранить" class="btn btn-success" style="width: 175px;">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}