{# encoding=utf-8 #}
{# © Quantum Ltd. #}
{# version 1.0.0 #}
{% extends "mgmt/base.html" %}
{% load staticfiles %}
{% block title %}
    Управление поставщиками и товарами.Интернет магазин Синкай-авто
{% endblock %}
{% block content %}
    <!-- Delete goods -->
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>Вы действительно хотите удалить {{ object.title }}</h1>
                <form action="." method="post">
                    <ul>
                        {% csrf_token %}
                        {{ form.as_ul }}
                    </ul>
                    <input type="submit" value="Удалить" class="btn btn-danger">
                    <a class="btn btn-primary" href="{% url 'goods-list' %}">Отмена</a>
                </form>
            </div>
        </div>
    </div>
{% endblock %}