{# encoding=utf-8 #}
{# © Quantum Ltd. #}
{# version 1.0.0 #}
{% extends "mgmt/base.html" %}
{% load staticfiles %}
{% block title %}
    Управление поставщиками и товарами.Интернет магазин Синкай-авто
{% endblock %}
{% block content %}
    <!-- Add goods to order  -->
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>Добавить товары к заказу {{ order.pk }}</h1>
                {% if error %}
                    <h3>{{ error }}</h3>
                {% endif %}
                <form action="{% url 'add-goods-order' %}" method="post">
                    <ul>
                        {% csrf_token %}
                        <input type="hidden" name="order_id" value="{{ order.pk }}">
                        {% for good in goods %}
                            <li>
                                <input type="checkbox" name="goods" value="{{ good.pk }}">{{ good.partnumber }}&nbsp;{{ good.title }}&nbsp;Количество:&nbsp;{{ good.remainder }}
                            </li>
                        {% endfor %}
                    </ul>
                    <br>
                    <input type="submit" value="Добавить" class="btn btn-primary">
                </form>
                <a href="{% url 'orders-edit' order.pk %}" class="btn btn-danger">Отмена</a>
            </div>
        </div>
    </div>
{% endblock %}