{# encoding=utf-8 #}
{# © Quantum Ltd. #}
{# version 1.0.0 #}
{% extends 'mgmt/base.html' %}
{% load staticfiles %}
{% block title %}
    Управление страницами сайта.Интернет магазин Синкай-авто
{% endblock %}
{% block content %}
    <!-- Show pages list -->
    <div class="container">
        <div class="col-xs-12">
            <div style="text-align: right;">
                <a href="{% url 'pages-new' %}" class="btn btn-primary">Добавить страницу</a>
            </div>
            <hr>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h1>Дополнительные страницы сайта</h1>
                </div>
                <table class="table">
                    <tr>
                        <th style="width: 55%">Заголовок</th>
                        <th style="width: 15%">Дата создания</th>
                        <th style="width: 15%">Дата изменения</th>
                        <th style="width: 15%"></th>
                    </tr>
                    {% for object in object_list %}
                        <tr>
                            <td style="width: 55%"><a href="{% url 'pages-detail' object.pk %}">{{ object.title }}</a></td>
                            <td style="width: 15%">{{ object.created_date }}</td>
                            <td style="width: 15%">{{ object.modified_date }}</td>
                            <td style="width: 15%"><a href="{% url 'pages-delete' object.pk %}" class="btn btn-danger">Удалить</a> </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
{% endblock %}