{# encoding=utf-8 #}
{# © Quantum Ltd. #}
{# version 1.0.0 #}
{% extends 'mgmt/base.html' %}
{% load staticfiles %}
{% block title %}
    Управление поставщиками и товарами.Интернет магазин Синкай-авто
{% endblock %}
{% block content %}
    <!-- Show pricelist list -->
    <div class="container">
        <div class="col-xs-12">
            <div style="text-align: right">
                <a href="{% url 'price-list-new' %}" class="btn btn-primary">Загрузить прайс-лист</a>
            </div>
            <hr>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h1>Список прайс-листов</h1>
                </div>
                <table class="table">
                    <tr>
                        <th style="width: 30%">Поставщик</th>
                        <th style="width: 20%">Дата загрузки</th>
                        <th style="width: 40%">Файл</th>
                        <th style="width: 10%"></th>
                    </tr>
                    {% for object in object_list %}
                        <tr>
                            <td style="width: 30%">{{ object.supplier }}</td>
                            <td style="width: 20%">{{ object.date }}</td>
                            <td style="width: 40%">{{ object.file }}</td>
                            <td style="width: 10%"><a href="{% url 'price-list-delete' object.pk %}" class="btn btn-danger">Удалить</a> </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
    <!-- End show price list -->
    <!-- Begin pagination -->
    <div class="container">
        <div class="row">
            <div class="col-xs-12" style="text-align: center">
                {% if paginator.num_pages > 1 %}
                    <nav>
                        <ul class="pagination">
                            {% for page in paginator.page_range %}
                                {% if page < page_obj.number %}
                                    <li>
                                        <a href="/mgmt/price-list?page={{ page }}">
                                            <span aria-hidden="true">{{ page }}</span>
                                            <span class="sr-only">{{ page }}</span>
                                        </a>
                                    </li>
                                {% elif page == page_obj.number %}
                                    <li class="active">
                                        <a href="#">{{ page }} <span class="sr-only">{{ page }}</span></a>
                                    </li>
                                {% else %}
                                    <li>
                                        <a href="/mgmt/price-list?page={{ page }}">
                                            <span aria-hidden="true">{{ page }}</span>
                                            <span class="sr-only">{{ page }}</span>
                                        </a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </nav>
                {% endif %}
            </div>
        </div>
    </div>
    <!-- End pagination -->
{% endblock %}