{# encoding=utf-8 #}
{# © Quantum Ltd. #}
{# version 1.0.0 #}
{% extends "mgmt/base.html" %}
{% load staticfiles %}
{% block title %}
    Управление поставщиками и товарами.Интернет магазин Синкай-авто
{% endblock %}
{% block content %}
    <!-- edit supplier -->
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                    <h1>Изменить данные поставщика</h1>
                <hr>
                <form action="." method="post">
                        {% csrf_token %}

                    <div class="row">
                        <div class="col-xs-2">
                            {{ form.title.label }}
                        </div>
                        <div class="col-xs-10">
                            <div class="form_title">
                                {{ form.title }}
                            </div>
                        </div>
                    </div>
                        <br>
                    <div class="row">
                        <div class="col-xs-2">
                            {{ form.bank_data.label }}
                        </div>
                        <div class="col-xs-10">
                            <div class="form_title">
                                {{ form.bank_data }}
                            </div>
                        </div>
                    </div>
                        <br>
                    <div class="row">
                        <div class="col-xs-2">
                            {{ form.law_address.label }}
                        </div>
                        <div class="col-xs-10">
                            <div class="form_title_ok_width">
                                {{ form.law_address }}
                            </div>
                        </div>
                    </div>
                        <br>
                    <div class="row">
                        <div class="col-xs-2">
                            {{ form.fact_address.label }}
                        </div>
                        <div class="col-xs-10">
                            <div class="form_title_ok_width">
                                {{ form.fact_address }}
                            </div>
                        </div>
                    </div>
                        <br>
                    <div class="row">
                        <div class="col-xs-2">
                            {{ form.contact.label }}
                        </div>
                        <div class="col-xs-10">
                            <div class="form_title_ok_width">
                                {{ form.contact }}
                            </div>
                        </div>
                    </div>
                        <br>
                    <div class="row">
                        <div class="col-xs-2">
                            {{ form.contact_phone.label }}
                        </div>
                        <div class="col-xs-10">
                            <div class="form_title">
                                {{ form.contact_phone }}
                            </div>
                        </div>
                    </div>
                        <br>
                    <div class="row">
                        <div class="col-xs-2">
                            {{ form.contact_email.label }}
                        </div>
                        <div class="col-xs-10">
                            <div class="form_title">
                                {{ form.contact_email }}
                            </div>
                        </div>
                    </div>
                        <br>
                    <div class="row">
                        <div class="col-xs-2">

                        </div>
                        <div class="col-xs-10">
                            <input type="submit" value="Сохранить" class="btn btn-success" style="width: 175px;">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}