{# encoding=utf-8 #}
{# © Quantum Ltd. #}
{# version 1.0.0 #}
{% extends "base.html" %}
{% load staticfiles %}
{% block title %}
    Интернет магазин Синкай-авто
{% endblock %}
{% block content %}
    <!-- Delivery info -->
    <div class="col-xs-10">
        <div class="row">
            <div class="col-xs-12">
                <h1>{{ delivery_page.title }}</h1>
                <p>{{ delivery_page.content|safe }}</p>
                <!--{% if delivery_page.map != '' %}-->
                    <!--<h2>Карта доставки:</h2>-->
                    <!--<p>{{ delivery_page.map|safe }}</p>-->
                <!--{% endif %}-->
            </div>
        </div>
    </div>
{% endblock %}