{# encoding=utf-8 #}
{# © Quantum Ltd. #}
{# version 1.0.0 #}
{% extends "base.html" %}
{% load staticfiles %}
{% block title %}
    Интернет магазин Синкай-авто
{% endblock %}
{% block content %}
    <!-- Edit password by self  -->
    <div class="col-xs-10">
        <div class="row">
            <div class="col-xs-12">
                <h1>Изменить пароль </h1>
                <h2 style="color: #ff0000">После изменения пароля вам необходимо будет зайти снова</h2>
                <hr>
                {% if error %}
                    <h3>{{ error }}</h3>
                {% endif %}
                <div class="row">
                    <div class="col-xs-2">
                        <h4>
                            Клиент:
                        </h4>
                    </div>
                    <div class="col-xs-10">
                        <h4>
                            {{ client.title }}
                        </h4>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-xs-2">
                        <h4>
                            Логин:
                        </h4>
                    </div>
                    <div class="col-xs-10">
                        <h4>
                            {{ user.username }}
                        </h4>
                    </div>
                </div>
                <hr>
                <form action="." method="post">
                        {% csrf_token %}

                    <div class="row">
                        <div class="col-xs-2">
                            {{ form.email.label }}
                        </div>
                        <div class="col-xs-10">
                                {{ form.email }}
                        </div>
                    </div>
                        <br>
                    <div class="row">
                        <div class="col-xs-2">
                            {{ form.password1.label }}
                        </div>
                        <div class="col-xs-10">
                                {{ form.password1 }}
                        </div>
                    </div>
                        <br>
                    <div class="row">
                        <div class="col-xs-2">
                            {{ form.password2.label }}
                        </div>
                        <div class="col-xs-10">
                                {{ form.password2 }}
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-xs-2">

                        </div>
                        <div class="col-xs-2">
                            <input type="submit" value="Сохранить" class="btn btn-success" style="width: 175px;">
                        </div>
                        <div class="col-xs-8">
                            <a href="{% url 'lk' %}" class="btn btn-primary">Отмена</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}