{# encoding=utf-8 #}
{# © Quantum Ltd. #}
{# version 1.0.0 #}
{% extends "base.html" %}
{% load staticfiles %}
{% load webdesign %}
{% block content %}
    {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
                <div class="alert alert-danger" role="alert">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
            <div class="alert alert-error">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endif %}
    {% if errors %}
        {% for error in errors %}
            <div class="alert alert-error">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endif %}
<div class="col-xs-10" style="background-color: #ffffff">
    <div class="content">
    <h1>Восстановить пароль</h1>
    {% if not success %}
        <p>Для восстановления пароль введите ваш email в форму ниже и нажмите отправить. Новый пароль будет выслан вам на почту</p>
        <p>
            <form action="." method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Восстановить">
            </form>
        </p>
    {% else %}
        <p>Пароль был выслан вам на почту</p>
    {% endif %}
        </div>
    </div>
{% endblock %}